@import "bower_components/susy/sass/susy";

$columns: 12;
$susy:(
  columns: $columns,
  gutters: 1/5,
  container: 960px,
);

.container {
  @include container();
  position: relative;

}

//- col desk
.col-2,
.col-6, 
.col-3 { @include span (12 of 12); }

.col-4 { @include span (6 of 12); }