

.form-friend {
	display: table;
    margin: 0 auto;
    padding: 3vw 2vw;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    box-shadow: 0px 4px 13px rgba(107, 106, 106, 0.36);
    margin-bottom: 40px;

	label,
	input {
		display: table;
		margin: 10px 0;
		color: #333;
	}
	
	input {	
		background: #fff;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid #cccaca;
		border-radius: 4px;
		font-size: 12px;
	}

    input { margin-bottom: 30px; }
	input[type="button"] {
		background: #fff;
		border: 1px solid #3496e4;
		color: #3496e4;
		width: auto;
		cursor: pointer;
		
		margin-bottom: 0px;

		transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;

			&:hover {
				background: #3496e4;
				color: #fff;
			}

			&:focus,
			&:active {
				box-shadow: none;
				outline: none;
			}
	}


}

input::-webkit-input-placeholder {color:#333;opacity: 1;transition: all .3s ease-in-out;}
input:-moz-placeholder {color:#333;opacity: 1;transition: all .3s ease-in-out;}
input::-moz-placeholder {color:#333;opacity: 1;transition: all .3s ease-in-out;}
input:-ms-input-placeholder {color:#333;opacity: 1;transition: all .3s ease-in-out;}

input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus:-moz-placeholder {opacity: 0;}
input:focus::-moz-placeholder {opacity: 0;}
input:focus:-ms-input-placeholder {opacity: 0;}


@media only screen and (min-width: 768px) {
	.form-friend { margin-bottom: 0;}
}
