.success-notifications {
	display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to right, rgb(168, 255, 120), rgb(135, 243, 76));
    max-width: 300px;
    border-radius: 4px;
    color: #fff;
    top: 2vw;
    box-shadow: 0px 4px 13px rgba(107, 106, 106, 0.18);
    opacity: 0;  
    padding: 1.5vw 0;  
}

.success-notifications--show {
    -webkit-animation-name: animJelly;
    animation-name: animJelly;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
}

.close-notifications {
    cursor: pointer;
    
    svg {
    	width: 15px;
    	position: absolute;
    	right: 5px;
    	top: 5px;
    }
}