.section {
  position: relative;
  width: 100%;

  padding: em(16px);
  box-sizing: border-box;

  @include mod('home') {
  	height: 100%;
  }
}

.content {    
	display: table;
	float: left;
    position: relative;
    height: auto;
    width: 100%;

}

.content--half { width: 100% }

.content-center { 
	display: table-cell;
	vertical-align: middle;
	text-align: center;

}

.title-friend { margin-bottom: 10px; }

.box-image {
	border-radius: 1.7vw;
    position: relative;
    overflow: hidden;
    display: table;
    margin: 0 auto;
	
	img {   
	    position: relative;
	    width: auto;
	    max-width: 100%;  
		display: table;
	    margin: 0 auto; 

	}
}

.box-image__name {
	position: absolute;
	left: 0;
	right: 0;
	background: #fff;
	margin: 0 auto;
		
	h2 {
		display: table;
	    margin: 0 auto;
	    background: #fff;
	    margin-top: -7vw;
	    padding: 0.5vw 1vw;
	    text-transform: uppercase;
	    font-size: 6vw;
	    box-shadow: 0px 4px 13px rgba(107, 106, 106, 0.36);
	    border-radius: 3px;

	    transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;

	}

}


.box-image__name[data-color="text_azul"] { color: #43b1f1; }
.box-image__name[data-color="text_verde"] { color: #51f31c; }
.box-image__name[data-color="text_amarelo"] { color: #dcf31c; }
.box-image__name[data-color="text_vermelho"] { color: #f52b35; }
.box-image__name[data-color="text_laranja"] { color: #f5a42b; }

.box-image__name[data-font="font_shrikhand"] { font-family: 'Shrikhand', cursive; }
.box-image__name[data-font="font_eater"] { font-family: 'Eater', cursive; }
.box-image__name[data-font="font_anton"] { font-family: 'Anton', sans-serif; }
.box-image__name[data-font="font_lobster"] { font-family: 'Lobster', cursive; }
.box-image__name[data-font="font_pacifico"] { font-family: 'Pacifico', cursive; }


.nav-filter {
	display: table;
	position: relative;
	background: #fff;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #cccaca;
	border-radius: 4px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 30px;
}

.nav-filter--open { 
	background: #e2e2e2;
	
	.value-fild-filte { color: #333; }

}

.btn-filter {
	position: relative;
	height: 10px;
	width: 20px;
	display: inline-block;
	float: right;
	margin-top: 0px;
	margin-left: 25px;
	cursor: pointer;

	svg {
		height: 15px;
		width: 15px;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		display: table;
		margin: 0 auto;
		fill: #cccaca;
		stroke-width: 9px;
		stroke: #cccaca;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out; 
		-moz-transition: all .2s ease-in-out; 
		-o-transition: all .2s ease-in-out;

	}

	&:before {
		content: "";
		width: 1px;
		height: 18px;
		background: #cccaca;
		border-radius: 2px;
		display: block;
		position: absolute;
		left: -9px;
		top: -2px;
	}
}
.content-filter-scroll {
	position: absolute;
	float: left;
	width: 101%;
	height: 100%;
	max-height: 300px;
	min-height: 200px;
	top: 40px;
	left: -1px;
	overflow: scroll;
	background: #ffffff;
    opacity: 0;
    border: 1px solid #cccaca;
    border-radius: 4px;
    z-index: -1;

}


.is-active {opacity: 1;z-index: 1;}

.fild-filter { 
	display: inline-table;
    position: absolute;
    min-width: 280px;
    width: 100%;
    
    top: 0px;
    left: 0px;
    margin-top: 0;
    padding: 10px 0;
    padding-top: 16px;
    
}

.fild-filter__link {
	color: #797979;
	margin-bottom: 10px;
	padding: 5px 15px;
	text-transform:capitalize;
	display: block;
	cursor:pointer;
	font-size: 14px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;

	&:hover {color:#367ce5;}
}

.value-fild-filte {
	display: inline-table;
	text-transform:capitalize;
	color: #333; font-size: 12px; 
	
	transition: all .2s ease-in-out; 
	-webkit-transition: all .2s ease-in-out; 
	-moz-transition: all .2s ease-in-out; 
	-o-transition: all .2s ease-in-out;
}
.is-active-arrow {
	svg {
		fill: #367ce5;
		stroke: #367ce5; 
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
	}
}

@media only screen and (min-width: 768px) {
	.content { height: 100%; }
	.content--half { width: 50% }

	.box-image__name {
		h2 { font-size: 4vw; }
	}
}




