//
// Mixins
// --------------------------------------------------

//== Media querie - mobile first
//
//## @include media-querie(desktop);
@mixin media-querie($media) {
  @if $media == mobile {
    @media only screen and (min-width: $bp-mobile) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $bp-tablet) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $bp-desktop) { @content; }
  }

}

//== Clearfix
//
//## @include clearfix();
@mixin clearfix() {
  &:before,
  &:after { content:""; display:table; }
  &:after { clear:both; }

}

//== Add ellipsis in final text ...
//
//## @include ellipsis();
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

//== Create triangles
//
//## @include triangle($direction, $size, $color);
@mixin triangle($direction, $size: 6px, $color: #222){
  content:'';
  display:block;
  position:absolute;
  height:0;
  width:0;

  @if ($direction == 'up'){
    border-bottom:$size solid $color;
    border-left:1/2*$size solid transparent;
    border-right:1/2*$size solid transparent;
  }

  @else if ($direction == 'down'){
    border-top:$size solid $color;
    border-left:1/2*$size solid transparent;
    border-right:1/2*$size solid transparent;
  }

  @else if ($direction == 'left'){
    border-top:1/2*$size solid transparent;
    border-bottom:1/2*$size solid transparent;
    border-right:$size solid $color;
  }

  @else if ($direction == 'right'){
    border-top:1/2*$size solid transparent;
    border-bottom:1/2*$size solid transparent;
    border-left:$size solid $color;
  }

}

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin el($element, $prop: '') {
    &__#{$element} #{$prop} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
/// @param {String} $prop - Properties is a optinal for create nesting child elements
/// @description $prop @include mod('center', 'img') - output .selector--center img {}
@mixin mod($modifier, $prop: '') {
    &--#{$modifier} #{$prop} {
        @content;
    }
}