section(class="section section--home")
  div(class="content content--half")
    div(class="content-center")
      div(class="content-form-friend")
        h1(class="title-friend") Procure seu friend 🐶
        form(class="form-friend")
          label(for="select dog") Selecione abaixo a raça do seu dog
          div(class="nav-filter" id="select_raca")
            span(class="btn-filter")
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 129 129', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 129 129')
                g
                  path(d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z')
            div(class="value-fild-filte") Raças
            div(class="content-filter-scroll")
              ul(class="fild-filter")


          input(type="text", name="dog-name", placeholder="Digite o nome do seu dog aqui:")
          
          label(for="select dog") Selecione abaixo a cor do texto que deseja
          div(class="nav-filter" id="select_color")
            span(class="btn-filter")
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 129 129', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 129 129')
                g
                  path(d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z')
            div(class="value-fild-filte") Cores
            div(class="content-filter-scroll")
              ul(class="fild-filter")
                li(class="fild-filter__link" data-filter='text_azul') Azul
                li(class="fild-filter__link" data-filter='text_verde') Verde
                li(class="fild-filter__link" data-filter='text_amarelo') Amarelo
                li(class="fild-filter__link" data-filter='text_vermelho') Vermelho
                li(class="fild-filter__link" data-filter='text_laranja') Laranja


          label(for="select font") Selecione abaixo a fonte do texto que deseja
          
          div(class="nav-filter" id="select_font")
            span(class="btn-filter")
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 129 129', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 129 129')
                g
                  path(d='m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z')
            div(class="value-fild-filte") Fontes
            div(class="content-filter-scroll")
              ul(class="fild-filter")
                li(class="fild-filter__link" data-filter='font_shrikhand') Shrikhand
                li(class="fild-filter__link" data-filter='font_eater') Eater
                li(class="fild-filter__link" data-filter='font_anton') Anton
                li(class="fild-filter__link" data-filter='font_lobster') Lobster
                li(class="fild-filter__link" data-filter='font_pacifico') Pacifico

          input(type="button", value="Salvar", onclick="salveUserLocation()")

  div(class="content content--half")
    div(class="content-center")
      div(class="box-image")
      div(class="box-image__name")
        h2 Nome do seu Dog

