doctype html
html(lang='pt-br')

  head

    title My friend

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')

    meta(name='description' content='')

    link(rel="icon" type="image/png" href="http://cdn.shopify.com/s/files/1/1061/1924/products/Dog_Emoji_grande.png?v=1480481035")
    link(href="https://fonts.googleapis.com/css?family=Anton|Eater|Lato:400|Lobster|Pacifico|Shrikhand" rel="stylesheet")
    link(rel='stylesheet', href='./assets/stylesheet/application.css')

  body

    //- Header
    //- include _includes/navigation

    //- Views
    include _views/section-home
    include _views/modal

    //- Footer
    //- include _includes/footer

    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
    script(src="assets/javascript/script.js")
